
body{
	background-color: beige;
}

header {
	background-color: lightgrey;
	text-align: center;
	margin-top: 50px;

}
.box {
	width: 100px;
	height: 100px;
	transform: rotate(40deg);
	border-style: solid;
	display: inline-block;

}
.box1{
	background-color: lightblue;
	text-align: center;
	text-transform: 50deg;
}
.box2{
	background-color: grey;
}.box3{
	background-color: lightblue;
}.box4{
	background-color: grey;
}.box5{
	background-color: lightblue;
}.box6{
	background-color: grey;
}.box7{
	background-color: lightblue;
}
.bodyinfo{
	height: 900px;

}
.right{ 
float: right;
 }
footer {
	background-color: lightgrey;
	text-align: center;
	margin-bottom: 50px;
	
}